.toolbar {
    display: flex;
    justify-content: space-between;
   
}

.pageNameDiv {
    display: flex;
    align-items: center;
}

.walletDiv {
    color: white;
    width: 230px;
    /* border: 1px solid red; */
}

.walletMenu {
    /* border: 1px solid red;
    padding-left: 15px; */
}

.walletMenuItem {
    width: 200px;
    /* margin-left: 20px; */
    /* right: 0px; */
}